body {
  font-family: 'Courier New', Courier, monospace;
  display: block;
}

img {
  width: 100px;
  height: 100px;
}

h1 {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  width: 100%;
}

.plants {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.barberry, .chilli, .pepper, .saffron{
  display: flex;
  flex-direction: column;
  align-items: center;
}